In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
import sys

sys.path.append('../../')

In [9]:
import pandas as pd

dec_df = pd.read_csv('../../data/output/decisions.csv')

mapping = {'yes': 1, 'no': 0}

# Apply mapping to the column
dec_df['decision'] = dec_df['decision'].map(mapping)

dec_df = dec_df[['text', 'decision']]

In [10]:
dec_df.head()

                                                text  decision
0  CHANI Paul... INT. CALADAN CASTLE, PAUL’S BEDR...         0
1  I know many things. I know you have a weapon c...         0
2  LETO Not like that. She smiles, knowing what h...         0
3  STILGAR So. He has come. EXT. ARRAKEEN LANDING...         0
4  Some of the crowed point at Jessica and Paul -...         0